/* line 1, ../../compass/sass/style.scss */
body {
  background: #1d96d7 no-repeat top center;
}

/* line 5, ../../compass/sass/style.scss */
.header {
  height: 60px;
  background-color: #fff;
}
/* line 8, ../../compass/sass/style.scss */
.header .menu-wrapper {
  max-width: 960px;
  margin: auto;
}
/* line 11, ../../compass/sass/style.scss */
.header .menu-wrapper li {
  float: left;
  list-style-type: none;
  padding: 0 20px;
}

/* line 19, ../../compass/sass/style.scss */
.main-content {
  max-width: 960px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  margin: 20px auto;
}
/* line 25, ../../compass/sass/style.scss */
.main-content .header-image {
  text-align: center;
}
/* line 27, ../../compass/sass/style.scss */
.main-content .header-image img {
  max-width: 100%;
  border-radius: 12px;
}
/* line 32, ../../compass/sass/style.scss */
.main-content .left-content-bar {
  width: 69%;
  display: inline-block;
  padding-left: 20px;
  box-sizing: border-box;
}
/* line 37, ../../compass/sass/style.scss */
.main-content .left-content-bar .left-bar-header {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #253b56;
}
/* line 44, ../../compass/sass/style.scss */
.main-content .left-content-bar .left-block-items .left-block-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
/* line 47, ../../compass/sass/style.scss */
.main-content .left-content-bar .left-block-items .left-block-item .hero-image {
  display: inline-block;
  max-width: 30%;
}
/* line 50, ../../compass/sass/style.scss */
.main-content .left-content-bar .left-block-items .left-block-item .hero-image img {
  max-width: 100%;
}
/* line 54, ../../compass/sass/style.scss */
.main-content .left-content-bar .left-block-items .left-block-item .hero-text-wrapper {
  display: inline-block;
  max-width: 60%;
}
/* line 67, ../../compass/sass/style.scss */
.main-content .right-content-bar {
  width: 29%;
  display: inline-block;
  vertical-align: top;
}
/* line 71, ../../compass/sass/style.scss */
.main-content .right-content-bar .top-box {
  background-color: #ebf6fc;
}
/* line 74, ../../compass/sass/style.scss */
.main-content .right-content-bar .tickets {
  background-color: #1994d7;
  border-radius: 5px;
  text-align: center;
  padding: 20px 0;
}
/* line 79, ../../compass/sass/style.scss */
.main-content .right-content-bar .tickets p {
  margin: 5px 0;
  color: #fff;
}
/* line 83, ../../compass/sass/style.scss */
.main-content .right-content-bar .tickets .ticket-price {
  color: #fff;
  font-size: 36px;
}
/* line 87, ../../compass/sass/style.scss */
.main-content .right-content-bar .tickets button {
  background-color: #1994d7;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
}
/* line 94, ../../compass/sass/style.scss */
.main-content .right-content-bar .map {
  text-align: center;
}

/* line 100, ../../compass/sass/style.scss */
.container {
  margin-top: 100px;
}
