{% extends 'layout.html' %}
{% block body %}

    <div class="container">
        {% if success == 'false' %}
            <div class="alert alert-danger">
                <b>Uh oh! </b>Looks like your query failed. That's not good!
            </div>
        {% elif success == 'true' %}
            <div class="alert alert-success">
                <b>Yay! </b>You successfully inserted the data. Good for you
            </div>
        {% endif %}

        <div class="jumbotron">
            <h2>Edit Entries</h2>
            <table class="table table-striped" id="entries">
                <thead>
                <tr>
                    <th>Header</th>
                    <th>Content</th>
                    <th>Image</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for row in home_data %}
                    <tr>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td><a href="/edit/{{ row[0] }}"><i class="glyphicon glyphicon-edit"></i></a></td>
                        <td><a href="/delete/{{ row[0] }}"><i class="glyphicon glyphicon-trash"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="jumbotron">
            <h2>Submit New Entry</h2>
            <form class="form-horizontal" method="post" action="/admin">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Header Text</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="header" placeholder="Header Text" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Body Text</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="body" placeholder="Body Text" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Image</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="image" placeholder="image" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#entries').DataTable();
        });
    </script>

{% endblock %}
